body{
    background-color: black;
    color: #ffc107
}
#header{
    color:black;
}
.csumb{
    color:#ffc107;
    text-align:center; 
    padding-top:10px
}
#csumbImg{
    width:10%;
}
#myName{
    color:black;
    font-size:1em;
}

input[type="checkbox"]:checked + label{
    border: 2px solid #ffc107;
    accent-color: #ffc107;
}
input[name=q4]:checked:checked + label{
    border: 2px solid #ffc107;
}
#Jackson{
    accent-color: #ffc107;
}
#Franklin{
    accent-color: #ffc107;
}
#Jefferson{
    accent-color: #ffc107;
}
#Roosevelt{
    accent-color: #ffc107;
}
input[type="radio"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    outline: none;
    background-color: black;
    cursor: pointer;
}
input[type="radio"]:checked{
    background-color: #ffc107;
}
#q1:hover{
    outline: solid #ffc107;
}
#q2:hover{
    outline: solid #ffc107;
}
#q3:hover{
    outline: solid #ffc107;
}
#q5:hover{
    outline: solid #ffc107;
}
footer{
    background-color: #ffc107;
}